<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <nav>
      <ul>
        <li class="li-inline nav-item"><a href="/">Home</a></li>
        {{#if logged_in}}
          <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
          <li class="li-inline nav-item"><a
              href="#"
              class="btn"
              id="logout"
            >Logout</a></li>
        {{else}}
          <li class="li-inline nav-item"><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </nav>

    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">Tech Blog</a>
      </h1>
    </header>

    <main>
      {{{body}}}
    </main>
    <footer>
      &copy; Tech Blog
    </footer>

  </body>
</html>

<script src="/public/js/logout.js"></script>